<!-- Menu Bar -->
<div class="ui menu">
    <div class="ui container">
      <a href="#" class="header item">
        <img class="logo"
             src="assets/images/ng-book-2-minibook.png" />
        ng-book 2
      </a>
      <div class="header item borderless">
        <h1 class="ui header">
          Angular Forms
        </h1>
      </div>
    </div>
  </div>
  <app-demo-form-sku></app-demo-form-sku>
  <p></p>
 <app-demo-sku-with-builder></app-demo-sku-with-builder>
 <p></p>
 <app-demo-form-with-validations-explicit></app-demo-form-with-validations-explicit>
 <p></p>
 <app-demo-form-with-events></app-demo-form-with-events>
 <p></p>
 <app-demo-form-ng-model></app-demo-form-ng-model>